body {
  color: #777777;
  margin-bottom: 500px;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.navigation ul {
  list-style-type: none;
  color: #222222;
}
.navigation li:hover {
  color: #8490ff;
}
.navigation {
  display: none;
}
nav .burger {
  color: #222222;
  font-size: 1.4rem;
  font-weight: normal;
}
section {
  position: relative;
  padding: 15%;
  padding-top: 20%;
  padding-bottom: 0;
}
.section__gilbert h6 {
  color: #222222;
  font-size: 1.2rem;
  font-weight: normal;
}
.section__gilbert h1 {
  color: #222222;
  font-size: 2rem;
  font-weight: 600;
}
.section__gilbert p {
  text-align: justify;
}
button {
  background-color: #8490ff;
  color: #fff;
  border: none;
  padding: 1rem 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
button:hover {
  box-shadow: 0 10px 10px 0 #8490ff;
  cursor: pointer;
}
.section__gilbert img {
  /* padding: 2rem 4rem; */
}
.section__services {
  text-align: center;
  background-color: #fff;
}
.section__services h1 {
  color: #222222;
  text-align: center;
  font-size: 3rem;
}
.section__services p {
  text-align: center;
}
.section__services a {
  color: #222222;
}
.section__services i {
  font-size: 2rem;
  padding: 2rem;
}
.section__services a:hover {
  color: #8490ff;
}

@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
  .navigation {
    display: contents;
  }
  .navigation ul {
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
  }
  .section__gilbert {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
  }
  .section__gilbert h6 h1 p a {
    grid-column: 1;
  }
  .section__gilbert img {
    grid-column: 2;
    grid-row: 1 / span 6;
  }
  .section__services__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* text-align: left; */
  }
  .section__services__about img {
    grid-column: 1;
    grid-row: 1 / span 5;
  }
  .section__services__about h6 h1 p a {
    grid-column: 2;
  }
  .section__services__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
